/* Text CSS */
p {
  font-size: 1.2em;
  font-family: "KBQuietStories", Times, sans-serif;
  margin-bottom: 1em;
  padding: 0.1em;
}

h1, h2, li {
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1em;
  padding: 0.1em;
}

#resume-header {
  padding: 1em;
  background-color: #333;
  border-radius: 1em;
  font-size: 2em;
  color: white;
}

/* Navigation CSS */
nav {
  text-align: center;
}

nav ul li a {
  color: #96C1F4;
}

nav ul li a:hover {
  background-color: #96C1F4;
  color: #CCCCFF;
}

/* Body CSS */
#about-info {
  background-image: url("../images/gradient_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  flex: 1;
}

#personal-and-contact {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

#personal-and-contact h2 {
  font-size: larger;
  font-weight: 700;
  text-decoration: underline;
}

#main-info {
  font-family: 'Times New Roman', Times, serif;
  width: 90%;
  margin: 0 auto;
  background-color: #A1BDFF;
  border: 0.1em solid;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 1%;
}

#main-info h2 {
  font-size: large;
  font-weight: 600;
  text-decoration: underline;
}

#main-info ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left: 50%;
}

#main-info ol li {
  float: left;
  position: relative;
  right: 50%;
  font-size: large;
}

/* Other section CSS */
#workhistory ol,
#certificates ol,
#awards ol,
#leadership ol,
#volunteerwork ol,
#skills ol,
#languages ol,
#hobbies_interests ol {
  list-style-type: circle;
}

ul li {
  font-size: small;
}

/* Other section styling */
#fun-facts,
#gaming,
#tattoos {
  background-color: rgb(137, 177, 224);
  border: 0.1em black;
  margin-top: 1em;
  margin-bottom: 1em;
}

#gaming iframe {
  width: 100%;
  max-width: 600px;
  height: 400px;
}

#tattoos img {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  max-width: 100%;
  height: auto;
}

#main-about {
  background-image: url("../images/tech_image.jpg");
  background-position: center;
  height: 100%;
  width: 100%;
}

#main-about h1 {
  color: white;
  font-size: 2em;
  font-family: "KBQuietStories", Times, sans-serif;
}

#main-about p {
  color: lightgrey;
  font-family: "KBQuietStories", Times, sans-serif;
}

#main-about sub {
  display: block;
  text-align: center;
  margin-top: 10px;
  font-family: "KBQuietStories", Times, sans-serif;
  color: lightgrey;
}
